@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: black;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: darkslategray;
  font-family: "Mate SC", serif;
  padding: 30px 0;
  font-size: 20px;
  width: 100%;
}

.logo {
  color: white;
  text-decoration: none;
  margin: 0;
  /* background-color: red; */
  height: 40%;
  width: 40%;
}
div .sublogo {
  color: yellow;
  text-decoration: none;
  margin: 0 10px;
  text-align: end;
  font-size: 15px;
}

.container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
#title {
  color: white;
  font-family: "Mate SC", serif;
  font-size: 40px;
  text-align: center;
}

#tribute-link {
  color: yellow;
  text-decoration: none;
  margin: 0 10px;
  text-align: end;
  font-size: 15px;
}

#container2 {
  padding: 0 30px;
  width: 80%;
  margin: auto;
  /* background-color: red; */
}

.subcon2 {
  text-align: left;
  font-size: 40px;
  color: white;
  font-family: sans-serif;
}

p {
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
}

#image {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
  max-width: 80%;
}

figcaption {
  color: white;
}

#container3 {
  padding: 0 30px;
  width: 90%;
}

.subcon3 {
  text-align: left;
  font-size: 40px;
  color: white;
  font-family: "Mate SC", serif;
}

.album {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.album .album-cover {
  height: 200px;
  width: 200px;
}

#container4 {
  padding: 0 30px;
  width: 80%;
}

.subcon4 {
  text-align: left;
  font-size: 40px;
  color: white;
  font-family: "Mate SC", serif;
}

.videoclip {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#container5 {
  padding: 0 30px;
  text-align: center;
  padding-bottom: 50px;
  width: 80%;
}

.follow {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: "Mate SC", serif;
  margin-top: 100px;
}

.footer {
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: sans-serif;
}

@media screen and (min-width: 767px) {
  #title {
    font-size: 80px;
  }

  p {
    font-size: 20px;
  }
}
